[Unit]
Description=dvmhost voice channel service
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart=/etc/dvmhost/dvmhost -c /etc/dvmhost/configs/dvmhost-vc1.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
