[Unit]
Description=dvmhost control channel service
After=syslog.target network.target

[Service]
User=root
Type=forking
ExecStart=/etc/dvmhost/bin/dvmhost -c /etc/dvmhost/configs/dvmhost-cc.yml
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
